* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffffff;
  padding: 15px 10px 5px;
}

.navbar-list {
  list-style-type: none;
  padding: 10;
  display: flex;
  gap: 50px;
  align-items: center;
}

.navbar-item a {
  text-decoration: none;
  color: rgb(12, 11, 11);
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: #ddd;
}

.icon img {
  width: 30px;
  height: auto;

}


.main-container {
  position: relative;
  overflow: hidden;
}

.background-image {
  display: block;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.bottom-image {
  display: block;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  opacity: 0.2;
  padding: 100px 0px 0px 0px;
}

.image-container {
  position: relative;
  margin: 0;
  padding: 0;

}

.text-samantha {
  position: absolute;
  bottom: -8px;
  color: white;
  text-align: left;
  padding: 0px 25%;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

.text-hartig {
  margin: -4.5px;
  padding: 0px 0px 0px 35%;
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  line-height: 2rem;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-left {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.image-me {
  padding-left: 20px;
  padding-right: 120px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.image-me img {
  width: 350px;
  height: auto;
}


.resume-table {
  width: 100%;
  border-collapse: collapse;
}

.image-cell, .text-cell {
  padding: 10px;
  vertical-align: middle;
  justify-content: center;
}

.image-cell img {
  width: 50px;
  height: auto;
}
